body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}
body {
    background-color: #87b8ea;
    font-family: Arial, sans-serif;
}

header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease-in-out;
}

.basic-info {
    background-color: #e74c3c;
}

.education {
    background-color: #27ae60;
}

.clubs {
    background-color: #f39c12;
}

.skills {
    background-color: #9b59b6;
}

.hobbies-interests {
    background-color: #3498db;
}

section:hover {
    background-color: #34495e;
    color: white;
    cursor: pointer;
}
